@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e1d3ca;
  min-height: 75px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.navigation-left {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 19px;
  letter-spacing: 0.7rem;
  text-shadow: 0.2rem 0.2rem 0 rgba(77, 73, 62, 0.3);
  text-decoration: none;
}

a:hover {
  background-color: rgb(234, 109, 109);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

h1 {
  display: flex;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 0.7rem;
  text-shadow: 0.2rem 0.2rem 0 rgba(77, 73, 62, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(219, 233, 254);
  background-image: url(/assets/background.jpg);
}

.my-photo-1 {
  position: relative;
  bottom: -31rem;
  width: 40rem;
  height: 40rem;
  right: -45rem;
}

.my-photo-2 {
  position: relative;
  bottom: -1rem;
  width: 30rem;
  height: 20rem;
  right: 37rem;
  border-style: double;
  border-radius: 1rem;
}

.my-photo-3 {
  position: absolute;
  bottom: -30rem;
  width: 30rem;
  height: 20rem;
  right: 39rem;
  border-style: double;
  border-radius: 1rem;
}

.my-photo-4 {
  position: absolute;
  bottom: -3rem;
  width: 25rem;
  height: 15rem;
  right: 23rem;
  border-style: double;
  border-radius: 1rem;
}

.my-photo-5 {
  position: absolute;
  bottom: 17.5rem;
  width: 10rem;
  height: 5rem;
  right: 55rem;
}

.my-photo-6 {
  transform: scaleX(-1);
  position: absolute;
  bottom: 17.5rem;
  width: 10rem;
  height: 5rem;
  right: 19rem;
}

.p1 {
  display: flex;
  position: relative;
  top: -40rem;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 0.7rem;
  text-shadow: 0.2rem 0.2rem 0 rgba(77, 73, 62, 0.3);
}

button {
  position: relative;
  top: -39rem;
  right: -31rem;
  background-color: #e82d2d;
  border-radius: 10rem;
  border-style: none;
  color: #ffefe0;
  cursor: pointer;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: antiquewhite;
  color: #100f0f;
}

.footer {
  position: relative;
  bottom: -13rem;
}

.footer2 {
  position: relative;
  bottom: -28rem;
}

.footer3 {
  position: relative;
  bottom: -28rem;
}
